
<h2>Bonjour,</h2>
<p>Votre rendez-vous de <b>{{ date }}</b> a été annulé par {% if sender == "coach" %} votre coach.{% else %} par le client.{% endif %}<br><br>

    vous pouvez le contacter pour plus d'informations: <b>{{ otherEmail }}</b>
</p>
